
.profile-info
    p
        margin-bottom: 0
        border-radius: .3rem
        box-shadow: 2px 2px 5px #ccccccb9
        height: min-content
        width: min-content
        margin-right: .3rem
    button
        margin-top: auto
        