
.profile-info
    display: flex
    p
        margin-bottom: 0
        border-radius: .3rem
        box-shadow: 2px 2px 5px #4949492f
        height: min-content
        margin-right: .3rem
        margin-bottom: .7rem
        font-size: 1.1rem
        transition: .2s
        &:active
            opacity: .6

    .buttons
        text-align: center
        width: min-content
        width: max-content

.edit-icon-close
    margin-left: .5rem
    float: right
    padding: 0 5px
    color: red
    transition: .3s

    &:hover
        background: #9797972a
        opacity: .7
        border-radius: .1rem
    &:active
        background: #97979763

.edit-avatar
    width: 70%
    border: 3px dashed #ccc
    margin: 1rem 15% 0 15%

.edit-container
    max-width: 700px
    justify-content: center
    margin: 0 auto

.input-gruop
    margin-top: 10px
    div
        margin-bottom: 10px
        width: 90%
        
